<mat-nav-list>
  <a mat-list-item routerLink="/solicitud" (click)="onClose()">
      <i class="material-icons">flight</i>
      <span class="nav-caption">Reserva tu vuelo</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
      <mat-icon class="mat-18">input</mat-icon>
      <span class="nav-caption">Iniciar sesión</span>
  </a>
  <a mat-list-item routerLink="/flightrequest" (click)="onClose()">
      <mat-icon class="mat-18">fitness_center</mat-icon>
      <span class="nav-caption">Solicitudes</span>
  </a>
</mat-nav-list>
