<style>

  </style>
  <div class="row" fxLayout="column" fxLayoutGap="32px">
      <div class="cardList">
          <div class="marker">
            <h5>Marcador</h5>
            <mat-grid-list cols="2" rowHeight="8:1">
                <mat-grid-tile>BARCELONA FC</mat-grid-tile>
                <mat-grid-tile>REAL MADRID</mat-grid-tile>
            </mat-grid-list>
          </div>
          <div class="marker">
              <h5>Servicio</h5>
              <mat-grid-list cols="2" rowHeight="10:1">
                  <mat-grid-tile>
                      <mat-radio-button value="1">BARCELONA FC</mat-radio-button>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-radio-button value="1">REAL MADRID</mat-radio-button>
                  </mat-grid-tile>
              </mat-grid-list>
          </div>
          <div class="marker">
              <h5>Acciones</h5>
              <mat-grid-list cols="2" rowHeight="10:1">
                  <mat-grid-tile><button mat-button mat-raised-button color="primary">Sumar Punto</button></mat-grid-tile>
                  <mat-grid-tile><button mat-button mat-raised-button color="primary">Sumar Punto</button></mat-grid-tile>
              </mat-grid-list>
          </div>
       </div>
  </div>

